<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
    <title>Title</title>
     <link rel="stylesheet" th:href="@{/css/login.css}"></link> 
</head>

<body>
<div class="box">
	<div class="title">
		密码登录
	</div>
	<h4 th:text="${msg}"></h4>
	<form  th:action="@{/loginUser}" method="post">
		<input type="text" name="username"/>
		<input type="text" name="password"/>
		<button type="submit" value="提交">提交</button>
		<ul>
			<li><a href="#">微博登录</a></li>
			<li><a href="#">支付宝登录</a></li>
		</ul>
    </form>
</div>

</body>
</html>
