<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atomikos.four.mapper.slave.UserMapper">


    <sql id="Base_Column_List">
        id, user_name AS userName, password,age
    </sql>

    <select id="findUserById" resultType="com.atomikos.four.entity.User">
        SELECT  * FROM USER  where id=#{id}
    </select>


    <insert id="addUser" parameterType="com.atomikos.four.entity.User">
        INSERT  INTO  USER(id,user_name,password,age)
        VALUES ( #{id},#{userName},#{password},#{age})
    </insert>

    <update id="updateUser" parameterType="com.atomikos.four.entity.User">
        UPDATE USER
        <set>

            <if test="userName!=null and userName !=''"> user_name=#{userName},</if>
            <if test="password!=null and password !=''"> password=#{password},</if>
            <if test="age!=null and age !=''"> age=#{age},</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="deleteUserById" parameterType="com.atomikos.four.entity.User">

        DELETE  FROM  USER  WHERE  id=#{id}
    </delete>


</mapper>
