.box{
		width: 320px;
		padding: 25px 25px 23px;
		height: 286.8px;
		margin: 150px auto;	
		background: green;
		text-aligin:center;
		border: 1px solid #ddd
		color: #6c6c6c;
		background: #F1F1F1;
	}
	input{
		border:none;
		width: 240px;
		padding: 11px 8px 11px 50px;
		line-height: 18px;
		font-size: 14px;
		margin: 10px auto;
	}
	button{
		display: inline-block;
		width: 300px;
		height: 42px;
		border: 0;
		line-height: 42px;
		cursor: pointer;
		font-size: 16px;
		font-weight: 700;
		color: #fff;
		background: #f40;
		border-radius: 3px;
		margin-top: 10px;
	}
	.title{
		font-size: 16px;
		line-height: 18px;
		margin-top: 9px;
		padding-bottom: 8px;
		font-weight: 700;
		color: #3c3c3c;
	}
	ul{
		display: inline-block;
		text-decoration: none;
		}
	li{
		float: left;
		list-style: none;
		margin: 2px auto;
		}
	a{
		text-decoration: none;
		padding: 0 10px;
		color: #6c6c6c;
		font-size: 12px;
	}
	a:hover{
		color: #f40;
	}