<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.datasource.dao.SqlDataLogMapper">




    <sql id="Base_Column_List">
        methodname, url, sqlData,costtime,occurtime,createtime
    </sql>

    <select id="findAllSqlDataLog" resultType="com.datasource.pojo.SqlDataLog">

        SELECT

        <include refid="Base_Column_List"/>
        FROM SqlDataLog
    </select>



</mapper>
